html, body {
    width: 100%;
    background-color: #ffffff;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #9ad8c4;
}

.header-left {
    width: 200px;
    height: 80px;
    float: left;
    text-align: center;
}

.header-left img {
    margin: 15px 40px;
}

.header-right {
    width: 200px;
    height: 80px;
    line-height: 80px;
    float: right;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #ffffff;
    margin-right: 15px;
    text-align: center;
}

.header-right a {
    color: #ffffff;
    font-family: "微软雅黑";
    font-size: 20px;
    /*margin-right: 40px;*/
}

.hotelDetail-nav {
    witdh: 100%;
    height: 50px;
    background-color: #ffffff;

}

.nav {

    font-family: 微软雅黑;
    font-size: 18px;
    color: #666666;
    margin-top: 16px;
    margin-left: 430px;
}

.nav-margin {
    margin-right: 15px;
    color: #666666;
}

.detailPic {
    width: 100%;
    height: 570px;
    background-image: url("../images/nansha-background.png");

}

.hotelInfo {
    width: 1060px;
    height: 249px;
    margin: 0 430px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #9ad7c5;
    padding-top: 30px;
}

.hotelInfo-left {
    width: 800px;
    float: left;
}

.hotelInfo-left p {
    margin-bottom: 20px;
}

.hotel-name {
    font-family: 微软雅黑;
    font-size: 36px;
    color: #333333;
    font-weight: bolder;
}

.hotel-infotext {
    font-family: 微软雅黑;
    font-size: 20px;
    color: #666666;

}

.hotelInfo-right {
    width: 120px;
    padding-top: 35px;
    float: right;
}

.hotel-RMB {
    color: #666666;
    font-family: 微软雅黑;
    font-size: 24px;
    text-align: right;
}

.hotel-price {
    font-family: 微软雅黑;
    font-size: 36px;
    color: #eb6100;
    text-align: right;
}

.data {
    width: 1060px;
    height: 42px;
    margin: 0 430px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #9ad7c5;
    font-family: 微软雅黑;
    font-size: 18px;
    color: #666666;
    padding-top: 8px;

}

.data-margin {
    margin-right: 60px;
}

.data-btn {
    color: #FFFFFF;
    width: 80px;
    height: 34px;
    text-align: center;
    background-color: #9ad8c4;
    font-family: "微软雅黑";
    font-size: 18px;
    border-radius: 5px;
    margin-left: 40px;

}

.room-detail {
    width: 1060px;
    margin: 0 430px;

}

.room-detail li {
    float: left;
    width: 1060px;
    padding: 29px 0;
    border-bottom: 2px solid #f6f6f6;;
}

.room-detail-img {
    margin-right: 40px;
    float: left;
}

.room-detail-word {
    width: 413px;
    float: left;
}

.room-name {
    font-family: 微软雅黑;
    font-size: 24px;
    color: #333333;
}

.room-info {
    font-family: 微软雅黑;
    font-size: 20px;
    color: #666666;
    margin-top: 20px;

}

.price-box {
    float: left;
    marigin-right: 140px;
}

.room-price {
    font-family: 微软雅黑;
    font-size: 26px;
    color: #eb6100;

}

.RMB {
    font-family: 微软雅黑;
    font-size: 18px;
    color: #666666;

}

.book-btn {
    display: block;
    height: 40px;
    width: 100px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
    background-color: #9ad8c4;
    font-family: "微软雅黑";
    font-size: 18px;
    border-radius: 5px;
    float: right;

}