.index-header-nav {
    width: 100%;
    height: 80px;
}

.index-header-nav .logo {
    margin: 15px 40px;
}

.index-header-nav .login {
    float: right;
    color: #fff;
    margin-top: 30px;
    margin-right: 30px;
}

.index-header-nav .register {
    float: right;
    color: #fff;
    margin-top: 30px;
    margin-right: 40px;
}

html, body, .index-header {
    height: 800px;
}

.index-header-banner {
    width: 100%;
    height: 100%;
}

.index-header-banner .pic{
    position: relative;
    z-index: 0;
}

.index-header-slogan {
    position: relative;
    z-index: 999;
    padding-left: 270px;
    margin-top: 319px;
    margin-bottom: 50px;
}

.index-header-search input {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    width: 88%;
    height: 48px;
    font-size: 24px;
    background: #fff url("../images/search-icon.png") no-repeat right;
    border: 1px solid transparent;
    padding: 5px 42px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.index-header-cover {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: -180px;
    left: 0;
    height: 180px;
    -webkit-box-shadow: 0 0 180px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 180px rgba(0, 0, 0, 1);
    box-shadow: 0 0 180px rgba(0, 0, 0, 1);
}

.index-header-nav {
    position: relative;
    z-index: 999;
    font-size: 20px;
}

.index-display-panel .sub-title li {
    list-style-type: none;
    float: left;
    line-height: 40px;
    text-align: center;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 8px;
}

.index-display-panel .sub-title li a {
    font-size: 24px;
    color: #333333;
    display: inline-block;
    width: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.index-display-panel .sub-title li a:hover {
    text-decoration: none;
}

.index-display-panel .sub-title li .city-active {
    background: #9ad7c5;
    color: #ffffff;
}

.index-display-panel .sub-title{
    margin-bottom: 30px;
    margin-top: 13px;
    border-bottom: 2px solid #9ad7c5;
    margin-right: 18px;
}

.index-display-panel{
    margin-top: 80px;
}

.index-display-panel .hotel-display li{
    float: left;
    margin-right: 13px;
    width: 340px;
}

.index-display-panel .hotel-display .hotel-name{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-display-panel .hotel-display .hotel-price{
    font-size: 20px;
    margin-bottom: 55px;
    color: #666666;
}

.index-display-panel .hotel-display img{
    height: 245px;
    width: 330px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.index-sub-banner {
    width: 100%;
    height:800px;
    background-image: url("../images/search01.jpg");
    background-size: cover;
}

.index-sub-banner-cover{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 800px;
    background: url("../images/cover-black.png") repeat-x;
    filter:Alpha(opacity=0.4);
    opacity: 0.4;
}

.index-sub-banner-text {
    position: relative;
    z-index: 999;
    margin-top: 600px;
    margin-bottom: 40px;
}

.index-sub-banner-button a{
    width: 220px;
    height: 42px;
    display: inline-block;
    font-size: 20px;
    color: #000000;
    padding-top:18px ;
    text-align: center;
    background: #9ad7c5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#dialog_large_image{

}