@charset "utf-8";
/* CSS Document */
.header{
	width:100%;
	height:80px;
	background-color:#9ad8c4;
	}

	
.header-left{
	width:200px;
	height:80ps;
	float:left;
	text-align: center;
	}

.header-left img{
	margin-left:40px;
	}
.header-right{
	width:200px;
	height:80px;
	float:right;
	font-family:"微软雅黑";
	font-size:18px;
	color:#ffffff;
	margin-right:15px;
	text-align: center;
	margin-top:20px;

	}
.header-right a{
	color:#52919f;
	font-family:"微软雅黑";
	font-size:20px;
	margin-right:40px；
	}

html,body{
	width:100%;
	height:100%;
	}
	
.signup-main{
	width: 100%;
	height: 720px;
    background-image:url(../images/signup-MAIN-FRAME.png);
/*	background-image:url(../img/cover black.png),url(../img/signupbg01.jpg);
    background-repeat:no-repeat;
    background-position:0 0,100px 200px;*/
/*	background-image: -webkit-cross-fade(url(../img/signupbg01.jpg), url(../img/cover black.png), 80%);*/
/*	background-size:100%;*/
	background-repeat: no-repeat;
	/*background-position：right;*/
	}
	
.login-main{
	width: 100%;
	height: 720px;
    background-image:url(../images/login-MAIN-FRAME.png);
/*	background-size:100%;*/
	background-repeat: no-repeat;
	
	}	


.signup-box,.login-box{
	width:580px;
	height:600px;
	top:120px;
	background-color:#00F;
	padding-top:45px;
	margin-left:280px;
	background-color:#FFF;
	filter:alpha(opacity:90); opacity:0.9;
	position:absolute;
	}	
	
	
.info{
	width: 100%;
	height: 90px;
	font-size: 60px;
	text-align: center;
	/*padding-top: 50px;*/

	font-weight: bolder;
	color: #52919f;
		}

.form-group{
	margin-top: 40px;
	margin-left: 0px;
	text-align: center;
		}
		
.form-input{
	height: 60px;
	width: 500px;
	padding-left: 80px;
	background-color: #FFFFFF;
	border: 2px solid #9ad8c4;
	border-radius: 5px;
	font-family:"微软雅黑";
	/*color:c8c8c8*/;
	font-size: 24px;
	background:url(../icon/User.png) no-repeat 5px 20px;
		}
.form-input-user{
	height: 60px;
	width: 500px;
	padding-left: 80px;
	background-color: #FFFFFF;
	border: 2px solid #9ad8c4;
	border-radius: 5px;
	font-family:"微软雅黑";
	color:c8c8c8;
	font-size: 24px;
	background:url(../icon/User.png) no-repeat 5px 20px;
	}
	
.form-input-password1{
	height: 60px;
	width: 500px;
	padding-left: 80px;
	background-color: #FFFFFF;
	border: 2px solid #9ad8c4;
	border-radius: 5px;
	font-family:"微软雅黑";
	color:c8c8c8;
	font-size: 24px;
	background:url(../icon/Lock.png) no-repeat 5px 20px;
	}
.form-input-password2{
	height: 60px;
	width: 500px;
	padding-left: 80px;
	background-color: #FFFFFF;
	border: 2px solid #9ad8c4;
	border-radius: 5px;
	font-family:"微软雅黑";
	color:c8c8c8;
	font-size: 24px;
	background:url(../icon/Lock-2.png) no-repeat 5px 20px;
	}	
		
.form-input-id-code{
	height: 60px;
	width: 260px;
	padding-left: 10px;
	background-color: #FFFFFF;
	border: 2px solid #9ad8c4;
	border-radius: 5px;
	font-family:"微软雅黑";
	color:c8c8c8;
	font-size: 24px;
	margin-top: 40px;
	margin-left: 40px;

	}
.id-code-area{
	height:60px;
	width:200px;
	border:3px;
	background-color:#999999;
	margin:40px;
	float:right;
	}
.btn{
	margin-top: 50px;
}

.form-btn{
	height: 70px;
	width: 500px;
	color:#fff;
	border: 1px solid ;
	margin-left:40px;
	text-align: center;
	background-color: #9ad8c4;
	font-family:"微软雅黑";
	font-size: 36px;
	border-radius: 5px;
	
}	


.footer{
	width: 100%;
	height: 200px;
	background-color: f6f6f6；
	}	
	
.friend-link{
	width: 100%;
	margin:0px auto;
	padding-top:60px;
	color: #666;
		
	}
	
.friend-link-item{
	width: 400px;
	margin: 0px auto;
}
.friend-link-item ul{
	list-style: none;
}
.friend-link-item li{
	padding: 5px 0px;
	float: left;
}
.link-item{
	padding: 0px 8px;
	cursor: pointer;
	border-right: 1px solid #ccc;
}
.link-last-item{
	border:none;
}
.copyright{
	width: 100%;
	color: #666;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
	}
