html, body {
    width: 100%;
    background: #f6f6f6;
}

.search-filter {
    background: #fff;
    margin-top: 18px;
}

.search-filter li {
    color: #333333;
    margin-top: 18px;
    margin-bottom: 17px;
    list-style-type: none;
    text-align: center;
    display: block;
    float: left;
    width: 120px;
    height: 54px;
    font-size: 18px;
    line-height: 54px;
}

.search-filter .location li {
    margin-bottom: 0;
}

.search-filter .location-detail li {
    margin-top: 0;
    background: #f6f6f6;
    width: 180px;
}

.search-filter .location li a {
    color: #333333;
    display: inline-block;
    width: 100px;
}

.search-filter .location a:hover {
    text-decoration: none;
}

.search-filter .location li .location-active {
    background: #f6f6f6;
}

.search-filter .location-detail ul {
    margin-left: 120px;
}

.search-filter .location-detail li img {
    width: 8px;
    height: 6px;
    margin-bottom: 2px;
}

.search-filter .cut-off-line {
    border-bottom: #f6f6f6 2px solid;
    margin: 0 60px;
}

.search-result {
    margin-top: 18px;
    background-color: #fff;
}

.search-result .sum {
    color: #333333;
    margin: 50px 0;
    font-size: 20px;
}

.search-result .sum span {
    color: #9ad7c5;
}

.search-result .order {
    width: 760px;
    height: 44px;
    background: #9ad7c5;
    border-bottom: #9ad7c5 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.search-result .order li {
    float: left;
    line-height: 45px;
    font-size: 20px;
    color: #fff;
    width: 120px;
    text-align: center;
}

.search-result .order ul > :first-child {
    width: 110px;
}

.search-result .order .order-active {
    background: #fff;
    border: #9ad7c5 1px solid;
    color: #9ad7c5;
}

.search-result .display-hotel {
    margin-top: 29px;
    width: 760px;
    border-bottom: #f6f6f6 2px solid;
}

.search-result .display-hotel img {
    width: 300px;
    height: 255px;
    float: left;
    margin-bottom: 29px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.search-result .text-hotel {
    float: left;
    margin-left: 40px;
    width: 420px;
    font-size: 24px;
    line-height: 24px;
}

.search-result .text-hotel .mark {
    width: 17px;
    height: 24px;
    margin-right: 6px;
}

.search-result .text-hotel .address, .search-result .text-hotel .distance {
    color: #666666;
    margin: 15px 0;
    font-size: 20px;
}

.search-result .text-hotel .type {
    display: block;
    height: 24px;
    line-height: 24px;
    width: 80px;
    text-align: center;
    border: 1px #52919f solid;
    color: #52919f;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.search-result .text-hotel .service{
    font-size: 20px;
    color: #999999;
}

.search-result .text-hotel .service .p1 {
    margin-top: 20px;
    background: url("../images/WIFI-circle.png") no-repeat left;
    background-size: 20px 20px;
    float: left;
    padding-left: 24px;
    margin-right: 50px;
}

.search-result .text-hotel .service .p2 {
    margin-top: 20px;
    background: url("../images/food-circle.png") no-repeat left;
    background-size: 20px 20px;
    float: left;
    padding-left: 24px;

}

.search-result .text-hotel .service .p3 {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    padding-left: 24px;
    font-size: 18px;
}

.search-result .text-hotel .service .p3 strong {
    font-weight: normal;
    color: #eb5100;
    font-size: 36px;
}

.search-result .text-hotel .detail {
    float: right;
    display: block;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-right: 20px;
    line-height: 40px;
    text-align: center;
    border: 2px #52919f solid;
    color: #52919f;
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
